/* Main */
main {
    padding: 10px;
}

/* Card Baba */
.card-redirecionamento {
     display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid var(--azul);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 30px;
}

/* Titulo do card */
.titulo-card > h2 {
    color: var(--cinza);
    font-weight: 400;
    line-height: 33px;
}

/* Strong */
.titulo-card > h2 > strong {
    color: var(--preto);
}

/* Imagem da seta */
.container-seta {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--azul);
}

/* Seta */
.container-seta > img {
    width: 35px;
    height: 35px;
}

#link-cadastro > a {
    color:  var(--preto);
    text-decoration: none;
}

#link-cadastro > a > span {
    color:  var(--azul);
}